#output{
    background-color: rgb(129, 242, 242);
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
}
body{
    background-color: red;
}